@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);
@import url(https://fonts.googleapis.com/css?family=Cormorant+Garamond);
@import url(https://fonts.googleapis.com/css?family=Homemade+Apple);

.markRed {
    background-color: #f6546a;
}

.markBlue {
  background-color: #3399ff;
}
.markYellow {
  background-color: #FFFF00;
}

/*.typing-text {
    padding-top: 25%;
    text-align: center;
}*/

.typing-text {
    font-family: 'Josefin Sans', sans-serif;
    height: 100px;
    font-size: 2.5em;
    color: #fff;
}
